*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face{
  src: url(Fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
  font-family: 'Source Sans Pro'
}

:root{
  --spain1: #323b4a;
  --spain2: #7f8ca0;
  --portugal1: #688b42;
  --portugal2: #8bc947;
}

body{
  background-color: #262d38;
  font-family: 'Source Sans Pro', sans-serif;
}


.wrapper{
  min-height: 100vh;
  min-width: 100vh;
  padding: 1rem;
  display: flex;
}

main{
  min-height: 100%;
  min-width: 100%;
  border: 2px solid var(--spain2);
  border-radius: 1rem;
  padding: 1rem;
}

.map-title{
  font-size: 1.5rem;
  color: var(--spain2);
  text-align: center;
  padding: 1rem;
}

.map-spain{
  min-width: 360px;
  width: 60%;
  margin: auto;
}

.map-spain a{
  stroke: var(--spain2);
  fill: var(--spain1);
  transition: fill;
  transition-duration: 0.3s;
}

.map-spain a:hover{
  fill: var(--spain2);
}

#path_portugalia{
  fill: var(--portugal1);
}

a:hover #path_portugalia {
  fill: var(--portugal2);
  stroke: var(--portugal2);
}