*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face{
  src: url(../Fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
  font-family: 'Source Sans Pro'
}

:root{
  --spain1: #323b4a;
  --spain2: #7f8ca0;
  --portugal1: #688b42;
  --portugal2: #8bc947;
  --background: #262d38;
  --modal-shadow: rgba(0, 0, 0, 0.6);
  --modal-light: #bbbbbb;
  --modal-darkish: #555555;
  --modal-dark: #191e26;
  --modal-color1: rgb(194, 71, 26);
}

body{
  background-color: var(--background);
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 100vh;
  width: 100%;
  position: relative;
}


.map-wrapper{
  /* min-height: 100vh; */
  /* min-width: 100vh; */
  padding: 1rem;
  display: flex;
}

main{
  min-height: 100%;
  min-width: 100%;
  padding: 1rem;
  margin: 0 auto;
  /* justify-content: center; */
}

.map-title{
  font-size: 1.2rem;
  word-spacing: 1rem;
  color: var(--spain2);
  text-align: center;
  padding-bottom: 3rem;
}

.map-spain{
  width: 100%;
  /* min-width: 360px; */
  margin: 0 auto;
}

.region{
  stroke: var(--spain2);
  fill: var(--spain1);
  transition: fill;
  transition-duration: 0.3s;
}

.region:hover{
  cursor: pointer;
  fill: var(--spain2);
}

#portugalia{
  fill: var(--portugal1);
}

#portugalia:hover {
  fill: var(--portugal2);
  stroke: var(--portugal2);
}

/* Popup window styles */

.modal-wrapper{
  background-color: var(--modal-shadow);
  position: absolute;
  top: 0;
  min-height: 100%;
  width: 100%;
  /* justify-content: center;
  align-content: center; */
  padding: 1rem;
  /* display: flex; */
  display: none;
}

.modal-window{
  background-color: var(--modal-dark);
  width: 100%;
  margin: 0 auto;
  /* min-width: 360px; */
  max-width: 800px;
  /* margin: 1rem; */
  border-radius: 0.8rem;
  border: 2px solid var(--modal-color1);
  padding: 1rem;
  color: var(--spain2);
  position: relative;
}

.modal-close{
  position: absolute;
  top: 0;
  padding-top: 1rem;
  padding-right: 1rem;
  right: 0;
  stroke: var(--spain2);
  stroke-width: 2.5px;
  fill: var(--spain2);
  /* transform: rotate(45deg); */
  cursor: pointer;
}

.modal-close:hover{
  stroke: var(--modal-color1);
  fill: var(--modal-color1);
}

.modal-content{
  padding-top: 4rem;
  display: none;
}

.modal-content h1{
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.modal-content img{
  width: 100%;
  border-radius: 1rem;
  border: 2px solid var(--spain2);
}

.img-credits{
  text-align: right;
  padding-right: 1rem;
  font-size: 0.8rem;
}

.img-credits a{
  color: var(--portugal1);
  text-decoration: none;
}


@media (min-width: 50em) {
  .modal-window{
    width: 70%;
    
  }

  .map-spain{
    width: 60%;
  }


}